---
import BentoGrid from "./BentoGrid.astro";
import type { HomeSection } from "../../../types";
import SectionHeader from "../SectionHeader.astro";
export interface Props extends HomeSection {}
const { sectionNumber } = Astro.props;
---

<section>
    <SectionHeader sectionNumber={sectionNumber} title={"Skills"} />
    <BentoGrid />
</section>
