---
import { Image } from "astro:assets";
// 3024 × 4032
import profImage from "../../assets/hero-profile.webp";
---

<div class="relative">
    <div class="flex flex-col md:flex-row-reverse gap-4">
        <Image
            class="self-center w-90"
            src={profImage}
            alt="Ezra with a snowboard."
        />
        <div class="flex flex-col justify-center gap-3 text-xl">
            <h1 class="text-5xl font-extrabold">Hi, I'm Ezra.</h1>
            <p>
                I'm a Full-Stack Engineer that enjoys designing elegant UI
                solutions and finding ways to make things fast. My expertise is
                in building complex web applications quickly and reliably.
                Currently, I'm working as a Freelance Software Engineer but am
                open to other opportunities as well.
            </p>
            <p>
                As a freelancer, I focus on two things: building great software
                and keeping clients in the loop. I've found that regular
                communication and transparency make all the difference—when
                clients know what's happening and why, projects run smoother and
                trust is built along the way.
            </p>
            <p>
                I know there are countless developers out there, so when a
                client chooses to work with me, I don't take it lightly.
            </p>
        </div>
    </div>
</div>
