---
import { Image } from "astro:assets";
// 3024 × 4032
import profImage from "../../assets/hero-profile.webp";
---

<div class="relative">
    <div class="flex flex-col md:flex-row-reverse gap-4">
        <Image
            class="self-center w-90"
            src={profImage}
            alt="Ezra with a snowboard."
        />
        <div class="flex flex-col justify-center gap-3 text-xl">
            <h1 class="text-5xl font-extrabold">Hi, I'm Ezra.</h1>
            <p>
                I'm a Full-Stack Engineer that enjoys designing elegant UI
                solutions and finding ways to make things fast. My expertise is
                in building complex web applications quickly and reliably.
                Currently, I'm working as a Full Stack Software Engineer at a stealth startup.
            </p>
            <p>
                Outside of work, I'm drawn to human-computer interaction,
                UI/UX design, and low-level optimization. I'm also a bit
                obsessed with keyboards, keyboard shortcuts, developer
                tooling, and finding ways to automate the repetitive stuff
                out of my workflow.
            </p>
        </div>
    </div>
</div>
