<nav class="flex items-center gap-4 py-4">
    <a href="/" class="font-bold mr-auto uppercase">Ezra Magaram</a>
    <a href="/about/" class="hover:underline">Projects</a>
    <a href="/blog/" class="hover:underline">Skills</a>
    <a href="/tags/" class="hover:underline">`Contact`</a>
</nav>
